.row {
  display: flex;
  flex-wrap: wrap;
}

.col-6 {
  width: calc((100%/(12/6)) - 18px );
}


.col-3 {
  width: calc((100%/(12/3)) - 18px );
}

.col-4 {
  width: calc((100%/(12/4)) - 18px );
}

.col-5 {
  width: calc((100%/(12/5)) - 18px );
}

.col-6 {
  width: calc((100%/(12/6)) - 18px );
}

.col-8 {
  width: calc((100%/(12/8)) - 18px );
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}
