// Colors
$color-primary: blue;
$color-primary-light: #666;
$gradient-primary: linear-gradient(to right, $color-primary, $color-primary-light); 

// Spaces
$xs: .6rem;
$sm: .9rem;
$md: 1.2rem;
$lg: 1.5rem;
$xl: 1.8rem;
$xxl: 3rem;
$huge: 4.5rem;
$xhuge: 6rem;

